<a href="https://colab.research.google.com/github/fukuta-takenaka/pub_colab/blob/main/tutorial_pandas_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Ref:
- https://tutorials.chainer.org/ja/11_Introduction_to_Pandas.html
- https://colab.research.google.com/drive/1a4sbKG7jOJGn4oeonQPA8XjJm7OYgcdX#scrollTo=nuHk1Tv9kOjf

## Pandas 入門


![dataset](https://raw.githubusercontent.com/fukuta-takenaka/pub_colab/main/data/California_Housing_Dataset.png)
![map](https://upload.wikimedia.org/wikipedia/commons/d/dd/Map_of_USA_CA.svg)

Pandas はデータ操作によく用いられるパッケージであり、CSV などの一般的なデータ形式で保存されたデータの読み込みや、条件を指定しての一部データの抽出など、機械学習手法で取り扱うデータを整理するのに便利です。

まず Pandas パッケージを読み込みましょう。
`pandas` は `pd` という別名を与えて用いるのが一般的です。

In [ ]:
import pandas as pd

### CSV ファイルの読み書き

データセットは Google Colaboratory で用意されているサンプルデータ（カリフォルニアの家賃データ）を使用します。[データの概要](https://atmarkit.itmedia.co.jp/ait/articles/2201/31/news042.html)（カラム名が若干違います）

Pandas では CSV ファイルを読み込むための `pd.read_csv()` という関数が用意されています。
こちらを使って CSV ファイルを読み込みます。

In [ ]:
# データセットの読み込み。オンラインあるcsvの場合、URLを引数にしても読み込める
df = pd.read_csv('https://raw.githubusercontent.com/timothypesi/Data-Sets-For-Machine-Learning-/main/california_housing_train.csv')

# 型の確認
type(df)

`df` という変数名は、**データフレーム (data frame)** という Pandas で中心的に用いられる**データ構造 (data structure)** を表すクラスの名前の頭文字に由来しています。
`pd.read_csv()` 関数は、CSV ファイルの内容を `DataFrame` オブジェクトに読み込みます。
リストや辞書型から`DataFrame`オブジェクトを作ることも可能ですが、データ処理ではCSVファイルを読み込む場合の方が一般的です。[参考](https://www.w3resource.com/python-exercises/pandas/index.php#:~:text=pandas%20Series%20object-,Create%20Dataframe%3A,-import%20pandas%20as)

![dataframe](https://www.w3resource.com/w3r_images/pandas-data-structure.svg)

https://www.w3resource.com/python-exercises/pandas/index.php

### DataFrame の表示

`df` に読み込まれたデータの中身の確認してみましょう。
Jupyter Notebook 上では、大きな DataFrame を表示しようとすると自動的に一部が省略されることがあります。

先頭の数件のみを確認したい場合は、`df.head()`メソッドを利用します。`df.head()` はデフォルトで先頭から 5 件のデータを表示しますが、`df.head(3)` のように引数に表示したいデータ件数を指定すると、指定された件数だけを表示することもできます。

このデータでは、各行は地区を意味しており、地区ごとの緯度や経度、物件の築年数中央値、部屋数の合計（地区内の物件全ての部屋数なので非常に多い）などの情報が入っています。

In [ ]:
df

In [ ]:
df.head()

### DataFrameの情報の確認：カラム名、インデックス、各列のデータ型、サイズ

データの理解や中身の抽出に頻繁に用いる、カラム名とインデックスなどを確認します

In [ ]:
print('カラム名', df.columns)
print('インデックス', df.index)
print('各列のデータ型\n', df.dtypes)
print('行数、列数', df.shape)

### データの抽出の基本

| 操作 | 説明 |
| ---- |  ---- |
| `df['カラム名']` | カラム名での列抽出 |
| `df.iloc[:, 0]` | 最初のカラム(=0)の列抽出 |
| `df.iloc[0, :]` | 最初の行抽出 |
| `df.iloc[0, 0]` | 最初の行の最初の値の抽出 |

`iloc`の操作では、表の座標のようにデータを取得するが、感覚としてはy座標、x座標の順で指定する点に注意。コロン`:`は、その軸すべてのアイテムを対象とする記号。`df.iloc[:, 0]`であれば「y軸=全て、x軸=最初のアイテム」 = 「最初の列」という意味になる。

In [ ]:
print(df['longitude'])
print(type(df['longitude']))

In [ ]:
df[['latitude', 'housing_median_age']].head(3)

In [ ]:
print(df.iloc[2])  # indexはゼロスタートなので3行目を出力
print(type(df.iloc[2]))

In [ ]:
print(df.iloc[2, 4])  # 3行目・5列目の値
print(type(df.iloc[2, 4]))

### 計算

抽出したカラムなどは計算に利用できます

In [ ]:
# 各地区（行）について、1世帯あたりの人口を計算
population_by_households = df['population'] / df['households']
print(population_by_households)

# DataFrame, Seriesにはmax()やmean()などのメソッドが用意されています
total_population = df['population'].sum()
print(total_population)

### 条件によるデータの検索

pandasの条件検索にはいくつか方法がありますが、可読性の観点から`df.query()`メソッドを扱います。  
Pythonの構文を文字列として与え、条件を満たす行が`DataFrame`で返却されます。  
条件の文では、カラム名をクォーテーションで囲む必要はありません。  

参考：https://qiita.com/dox/items/bf6ce1c71d8d18723e74

In [ ]:
df.query('housing_median_age == 1')  # 地区の築年数中央値が1年である行を検索。housing_median_ageはカラム名なのでクォーテーション不要

In [ ]:
df.query('population / households < 1')  # 複雑な条件も設定できます：1世帯あたりの平均人数が1人未満の地区（？？？）を検索

In [ ]:
mean_longitude = df['longitude'].mean()
mean_latitude = df['latitude'].mean()
print(mean_longitude)
print(mean_latitude)

# 変数を条件に利用するには@を変数名に付けます。and検索やor検索も可能です
north_east = df.query('(longitude > @mean_longitude) and (latitude > @mean_latitude)')
print(north_east[['longitude', 'latitude']].min())
north_east

文字列検索も可能です。[参考](https://note.nkmk.me/python-pandas-query/#:~:text=source%3A%20pandas_query.py-,%E6%96%87%E5%AD%97%E5%88%97%E3%83%A1%E3%82%BD%E3%83%83%E3%83%89%E3%81%A7%E6%9D%A1%E4%BB%B6%E6%8C%87%E5%AE%9A,-%E6%96%87%E5%AD%97%E5%88%97%E3%81%8C)

In [ ]:
kitanihon = pd.DataFrame(
    {'県名': ['北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県'],
     '面積': [83423, 9607, 15279, 7285, 11612, 9323, 13783]
     })
kitanihon

In [ ]:
# 「道」の字が含まれている県名を検索。道はカラム名でないので、クォーテーションが必要。文字列を扱う際にはengine='python'引数が必要。
kitanihon.query('県名.str.contains("道")', engine='python')

### 並べ替え

データフレームのある列を抽出し、`df.sort_values()` メソッドを呼び出すことで値の**並べ替え (sort)** を行うことができます。
なお、このメソッドは並べ替えが終わったあとの値でもとのデータフレーム内の値を置き換えることまでは行わず、結果を返します。
そこで、別の変数で結果を受け取り、始めの 5 行を表示することで並べ替えが行われたことを確認してみましょう。

`df.sort_values()` は、デフォルトでは**昇順 (ascending)** に並べ替えを行います。昇順とは、だんだん値が大きくなっていくように並べ替えるときの並べ方のことで、逆にだんだん値が小さくなっていくように並べ替えるときは、**降順 (descending)** に並べると言います。

`df.sort_values()` は並べ替えを行いたい列の名前を `by` という引数で受け取ります。また、デフォルトでは昇順に並べ替えを行います。

In [ ]:
# total_rooms 列の値を昇順に並べ替え
df_as = df.sort_values(by='total_rooms')
df_as.head()

降順に並べ替える場合は、`ascending=False` という引数の指定を行います。

In [ ]:
# total_rooms の列の値を降順に並べ替え
df_de = df.sort_values(by='total_rooms', ascending=False)
df_de.head()

### CSV ファイルの保存

Pandas ではデータフレームオブジェクトの内容を CSV ファイルとして保存するための `df.to_csv()` というメソッドが用意されています。
  https://note.nkmk.me/python-pandas-to-csv/

In [ ]:
df.to_csv('sample.csv', index=False)

左のファイルマークのタブを開くとsample.csvが保存されていることが分かります。

![save]()

## 練習問題

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/timothypesi/Data-Sets-For-Machine-Learning-/main/california_housing_train.csv')
df.head(3)

### 1: 1世帯あたりの部屋数トップ3を表示してください

計算結果の`Series`を新たなカラムとして`DataFrame`に追加できます  
`df['new_column'] = df['col1'] * df['col2']`

### 2: median_incomeとmedian_house_valueの関係を散布図`plt.scatter`を使って可視化

In [ ]:
median_income = ...
median_house_value = ...
plt.scatter(median_income, median_house_value)
plt.show()

### 3: median_incomeとmedian_house_valueの相関係数を求める

地区ごとのmedian_incomeとmedian_house_valueには相関があるといえるでしょうか？
`df.corr()`関数を使用して相関係数を算出しましょう。median_incomeとmedian_house_valueカラムを抽出し、新たなDataFrameを作成してから計算してください

### 4: 応用 median_incomeとmedian_house_valueの相関係数を求める2（[参考](https://sci-pursuit.com/math/statistics/correlation-coefficient.html#:~:text=%E3%82%88%E3%81%84%E3%81%A7%E3%81%97%E3%82%87%E3%81%86%E3%80%82-,%E7%9B%B8%E9%96%A2%E4%BF%82%E6%95%B0%E3%81%AE%E6%B1%82%E3%82%81%E6%96%B9,-%E3%81%9D%E3%82%8C%E3%81%9E%E3%82%8C%E3%81%AE%E5%A4%89%E6%95%B0)）

簡単に計算できる関数も用意されていますが、練習として手作業でも計算してみます


相関係数の求め方
1. それぞれの変数(median_income, median_house_value)の平均値を求める
2. それぞれの変数の偏差（各値 － 平均値）を求める
3. それぞれの変数の分散（偏差の二乗平均）を求める
4. それぞれの変数の標準偏差（分散の正の平方根）を求める (平方根は0.5乗で表現できます)
5. 共分散（偏差の積の平均）を求める
6. 共分散を 「2変数の標準偏差の積」で割って相関係数を得る

In [ ]:
# おまけ：トップの図の生成

%matplotlib inline
import matplotlib.pyplot as plt

fig, ax = plt.subplots()
sc = ax.scatter(df['longitude'], df['latitude'], c=df['median_house_value'], s=df['population']/100, alpha=0.2)
ax.legend(*sc.legend_elements("sizes", num=3, fmt='{x:.3g}00'), title='population')
ax.set_aspect('equal', adjustable='box')
ax.set_ylabel('latitude')
ax.set_xlabel('longitude')
ax.set_title('California Housing Dataset')
fig.colorbar(sc, label='median_house_value')
plt.savefig('California_Housing_Dataset.png', dpi=200)
plt.show()

## Numpy入門

工事中...

In [ ]:
type(df)

次に、`df` の `values` という属性の型を調べてみます。

In [ ]:
type(df.values)

NumPy の ndarray になっています。
データフレームやシリーズは、`values` という属性に値を ndarray として格納しています。

In [ ]:
df.values

In [ ]:
type(df['longitude'])

In [ ]:
type(df['longitude'].values)

逆に、Python のリストや ndarray からシリーズやデータフレームを作ることもできます。
NumPy で乱数を要素にもつ ndarray を生成し、これをデータフレームに変換してみましょう。

`pd.DataFrame` のインスタンス化の際に、`data` 引数に元にしたい ndarray を与えます。

In [ ]:
import numpy as np

# ndarray -> pd.DataFrame
df = pd.DataFrame(
    data=np.random.randn(10, 10)
)

df

In [ ]:
population_by_households = df['total_rooms'] / df['households']
sorted = population_by_households.sort_values(ascending=False)
top3 = sorted.head(3)
print(top3)

In [ ]:
median_income = df['median_income']
median_house_value = df['median_house_value']
plt.scatter(median_income, median_house_value)
plt.show()

In [ ]:
new_df = pd.DataFrame([median_income, median_house_value]).T
new_df.corr()

In [ ]:
income = df['median_income']
housev = df['median_house_value']

# 1
mean_income = income.mean()
mean_housev = housev.mean()

# 2
deviation_income = income - mean_income
deviation_housev = housev - mean_housev

# 3
variance_income = (deviation_income ** 2).mean()
variance_housev = (deviation_housev ** 2).mean()

# 4
standard_deviation_income = variance_income ** 0.5
standard_deviation_housev = variance_housev ** 0.5

# 5
covariance = (deviation_income * deviation_housev).mean()

# 6
correlation_coefficient = covariance / (standard_deviation_income * standard_deviation_housev)
print(correlation_coefficient)